.para-container {
  padding: 3em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  .image {
    height: 500px;
    img {
      width: 350px;
      height: 350px;
      overflow: hidden;
      margin: 20px;
      padding: 20px;
      box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    }

    .jewel-name {
      font-size: 1.1em;
      padding: 5px;
      color: rgb(0, 0, 0);
      font-family: 'Lora', serif;
    }

    .jewel-price {
      font-size: 1em;
      padding: 10px;
      color: rgb(0, 0, 0);
    }

    .addToCart {
      padding: 5px;
      border-radius: 5px;
      color: rgb(255, 255, 255);
      font-weight: 600;
      text-decoration: none;
    }

    .addToCart:hover {
      transition: 0.3s ease-in-out;
    }

    .button {
      padding: 5px 15px;
      font-size: 10px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 15px;
      box-shadow: 0 3px #999;
    }
    
    .button:hover {background-color: #3e8e41}
    
    .button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  }
}


@media(max-width: 500px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .image {
    font-size: 0.7em;
  }
}