header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 150px;
  position: relative;
}

.cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}

.cart a {
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}


.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #eceff1;
}

.navbar__link {
  margin: 1em;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: .3em;
  text-indent: .3em;
  color: #181818;
  border-bottom: 3px solid transparent;
}

.navbar__link:hover {
  transform: translateY(-2px);
}

.navbar__link--active {
  border-bottom: 3px solid #0a0a0a;
  transition: border-bottom .5s ease-in-out;
}


@media(max-width: 500px) {

  header {
    height: 300px;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
}

@media(max-width: 1000px) {

  header {
    height: 300px;

    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
    }
  }
  ul {
    display: grid;
    font-size: 0.6em;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-row-gap: 10px;
    height: 200px;

    li {
      padding: 10px;
    }
  }
}